@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  background-color: var(--background);
  block-color: var(--block-color);
  }

:root {
  font-family: Roboto, serif;
  /*Main colors*/
  --block-color: white;
  --text-color: black;
  --background: #EFF7FF;
  --accent-green: #38C189;
  --accent-blue: #85BBF4;

/*  Color grade*/
  --low-color: red;
  --low-background: pink;

  --medium-color: #C1B138;
  --medium-background: #ECF4E3;

  --high-color: #38C189;
  --high-background: #E3F4ED;
}

.dark {
  /*Main colors*/
  --block-color: lightgreen;
  --text-color: white;
  --background: green;
  --accent-green: darkgreen;
  --accent-blue: blue;

  /*  Color grade*/
  --low-color: red;
  --low-background: pink;

  --meduum-color: #C1B138;
  --medium-background: #ECF4E3;

  --high-color: #38C189;
  --high-background: #E3F4ED;
}